body {
    background-color: beige;
     img { width: 300px}
    
}
.heroImage{
    height: 100vh;
    background-color: red;
    
}

.projetos{
    height: 100vh;
    background-color: purple;
}
.disciplina{
    height: 100vh;
    background-color: darkorange;
}